.card-content {
  display: flex;
}

.example-header-image {
  height: 100px; // Set the height of the image's parent div to 100px
  flex-shrink: 0; // Prevent the image column from shrinking
  margin-right: 150px;
}

.image-class {
  height: 100%; // Set the image height to 100% of its parent
  object-fit: cover; // Use this to maintain aspect ratio
  border-radius: 0px;
}

.text-content {
  flex-grow: 1; // Make the text content take up the remaining width of the div
}

.custom-card {
  margin: 5px;
}
