<mat-card class="custom-card">
  <mat-card-content class="card-content">
    <div mat-card-avatar class="example-header-image">
      <img
        class="image-class"
        [src]="repo?.owner?.avatar_url"
        alt="Owner's avatar"
        data-cy="repo-avatar"
      />
    </div>
    <div class="text-content">
    <mat-card-title (click)="onTitleClick()" data-cy="repo-title">{{ repo?.name }} <span data-cy="repo-rating" *ngIf="rating > 0">({{ rating }} stars)</span></mat-card-title>
      <p data-cy="repo-description">
        {{ repo?.description }}
      </p>
      <div class="repo-item">
        <span class="bordered" data-cy="repo-stars">Stars: {{ repo?.stargazers_count }}</span>
        <span class="bordered with-margin" data-cy="repo-issues">Issue: {{ repo?.open_issues_count }}</span>
        <span class="with-margin" data-cy="repo-submitted">Submitted at {{ repo?.created_at | date:'yyyy-MM-dd' }}</span>
      </div>
    </div>
  </mat-card-content>
</mat-card>
