.card-content {
  display: flex;
}

.example-header-image {
  height: 100px; 
  flex-shrink: 0; 
  margin-right: 150px;
}

.image-class {
  height: 100%; 
  object-fit: cover;
  border-radius: 0px;
}

.text-content {
  flex-grow: 1; 
}

.custom-card {
  margin: 5px;
}
