.card-content {
  display: flex;
}

.example-header-image {
  height: 70px; 
  flex-shrink: 0; 
  margin-right: 150px;
}

.image-class {
  height: 100%; 
  object-fit: cover;
  border-radius: 0px;
}

.text-content {
  flex-grow: 1; 
}

.custom-card {
  margin: 5px;
}

.repo-item {
    span {
      padding: 2px;
    }
  
    .bordered {
      border: 2px solid;
    }
  
    .with-margin {
      margin-left: 8px;
    }
}
